USE [master]
GO
/****** Object:  Database [PhongKham]    Script Date: 04/27/2018 09:03:32 ******/
CREATE DATABASE [PhongKham] ON  PRIMARY 
( NAME = N'PhongKham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PhongKham.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PhongKham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PhongKham_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhongKham]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVATTU] [int] NOT NULL,
	[TENVATTU] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITHUOC]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITHUOC](
	[MADONVI] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DONVITHUOC] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENMON]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENMON](
	[MACHUYENMON] [int] NOT NULL,
	[TENCHUYENMON] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUYENMON] PRIMARY KEY CLUSTERED 
(
	[MACHUYENMON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nchar](30) NOT NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAKHAMBENH]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAKHAMBENH](
	[ID] [varchar](30) NOT NULL,
	[GIA] [money] NULL,
	[NGAYAPDUNG] [date] NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [PK_GIAKHAMBENH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIXETNGHIEM]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXETNGHIEM](
	[MAXN] [int] NOT NULL,
	[TENXETNGHIEM] [nvarchar](50) NOT NULL,
	[THOIGIAN] [time](7) NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_LOAIXETNGHIEM] PRIMARY KEY CLUSTERED 
(
	[MAXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITHUOC] [nvarchar](50) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_LOAITHUOC] PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MATOA] [int] NOT NULL,
	[THOIGIANSUDUNG] [int] NOT NULL,
	[NGAYKETOA] [date] NULL,
 CONSTRAINT [PK_TOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MATOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_NGUOIDUNG_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nvarchar](20) NOT NULL,
	[CHUYENMON] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUOC] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[HANSUDUNG] [date] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[HUONGDANSUDUNG] [nvarchar](500) NOT NULL,
	[MADONVI] [int] NOT NULL,
	[TINHTRANG] [bit] NULL,
	[MALOAITHUOC] [int] NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THU]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THU](
	[MATHU] [int] IDENTITY(1,1) NOT NULL,
	[TENTHU] [nvarchar](30) NOT NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nchar](10) NOT NULL,
	[MAULONG] [nvarchar](30) NOT NULL,
	[LOAI] [nvarchar](30) NOT NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK_THU] PRIMARY KEY CLUSTERED 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEODOITHU]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEODOITHU](
	[MATHEODOI] [int] NOT NULL,
	[MATHU] [int] NULL,
	[NGAY] [date] NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THEODOITHU] PRIMARY KEY CLUSTERED 
(
	[MATHEODOI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUKHAM]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUKHAM](
	[MALS] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[MATHU] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYKHAM] [date] NOT NULL,
	[BENH] [nvarchar](50) NOT NULL,
	[THANHTIEN] [money] NOT NULL,
 CONSTRAINT [PK_LICHSUKHAM] PRIMARY KEY CLUSTERED 
(
	[MALS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHKHAM]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHKHAM](
	[MALICH] [int] NOT NULL,
	[MATHU] [int] NULL,
	[NGAYHEN] [date] NULL,
	[GIOHEN] [time](7) NULL,
	[DIADIEM] [nchar](10) NOT NULL,
	[DAPASS] [bigint] NOT NULL,
 CONSTRAINT [PK_LICHKHAM] PRIMARY KEY CLUSTERED 
(
	[MALICH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKIP]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKIP](
	[MAEKIP] [int] NOT NULL,
	[MABSCHINH] [int] NULL,
	[SOLUONGTV] [int] NULL,
 CONSTRAINT [PK_EKIP] PRIMARY KEY CLUSTERED 
(
	[MAEKIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTOA]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTOA](
	[MACTTOA] [int] NOT NULL,
	[MATOA] [int] NULL,
	[MATHUOC] [int] NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_CHITIETTOA] PRIMARY KEY CLUSTERED 
(
	[MACTTOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOITRU]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOITRU](
	[MANOITRU] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYNHAPVIEN] [date] NOT NULL,
	[NGAYRAVIEN] [date] NOT NULL,
 CONSTRAINT [PK_NOITRU] PRIMARY KEY CLUSTERED 
(
	[MANOITRU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHAN]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHAN](
	[MABENHAN] [int] NOT NULL,
	[MATHU] [int] NULL,
	[NGAYKHAM] [date] NULL,
	[NGAYLANH] [date] NOT NULL,
 CONSTRAINT [PK_BENHAN] PRIMARY KEY CLUSTERED 
(
	[MABENHAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEMPHONG]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEMPHONG](
	[MATIEMPHONG] [int] NOT NULL,
	[TENLOAITIEM] [nvarchar](50) NULL,
	[MATHUOC] [int] NULL,
	[DONGIA] [money] NULL,
	[GHICHU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MATIEMPHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTIEMPHONG]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTIEMPHONG](
	[MASO] [int] NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYCAP] [date] NOT NULL,
 CONSTRAINT [PK_SOTIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MASO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXETNGHIEM]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXETNGHIEM](
	[MAPHIEUXN] [int] NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYXN] [date] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_PHIEUXETNGHIEM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAUTHUAT]    Script Date: 04/27/2018 09:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAUTHUAT](
	[MAPHAUTHUAT] [int] NOT NULL,
	[MATHU] [int] NOT NULL,
	[MAGIAYCK] [int] NOT NULL,
	[MAXN] [int] NOT NULL,
	[MAEKIP] [int] NOT NULL,
	[NGAYPHAUTHUAT] [date] NOT NULL,
	[THOIGIANBATDAU] [time](7) NOT NULL,
	[THOIGIANKT] [time](7) NOT NULL,
 CONSTRAINT [PK_PHAUTHUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHAUTHUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETXN]    Script Date: 04/27/2018 09:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXN](
	[MACTXN] [int] NOT NULL,
	[MAPHIEUXN] [int] NOT NULL,
	[MAXN] [int] NOT NULL,
	[KETQUA] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
 CONSTRAINT [PK_CHITIETXN] PRIMARY KEY CLUSTERED 
(
	[MACTXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBENH]    Script Date: 04/27/2018 09:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBENH](
	[MACT] [int] NOT NULL,
	[MABENHAN] [int] NULL,
	[BENH] [nvarchar](50) NOT NULL,
	[TRIEUCHUNG] [nvarchar](50) NOT NULL,
	[MATOA] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETBENH] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSOTIEMPHONG]    Script Date: 04/27/2018 09:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSOTIEMPHONG](
	[MASO] [int] NOT NULL,
	[MACTSO] [int] NOT NULL,
	[MATIEMPHONG] [int] NOT NULL,
	[NGAYTIEM] [date] NOT NULL,
	[NGAYHEN] [date] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
 CONSTRAINT [PK_CTSOTIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MACTSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTEKIP]    Script Date: 04/27/2018 09:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTEKIP](
	[MACTEKIP] [int] NOT NULL,
	[MAEKIP] [int] NULL,
	[MABS] [int] NULL,
 CONSTRAINT [PK_CTEKIP] PRIMARY KEY CLUSTERED 
(
	[MACTEKIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_CHUYENMON]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUYENMON] FOREIGN KEY([CHUYENMON])
REFERENCES [dbo].[CHUYENMON] ([MACHUYENMON])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUYENMON]
GO
/****** Object:  ForeignKey [FK_THUOC_DONVITHUOC]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_DONVITHUOC] FOREIGN KEY([MADONVI])
REFERENCES [dbo].[DONVITHUOC] ([MADONVI])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_DONVITHUOC]
GO
/****** Object:  ForeignKey [FK_THUOC_LOAITHUOC]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_LOAITHUOC] FOREIGN KEY([MALOAITHUOC])
REFERENCES [dbo].[LOAITHUOC] ([MALOAITHUOC])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_LOAITHUOC]
GO
/****** Object:  ForeignKey [FK_THU_KHACHHANG1]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[THU]  WITH CHECK ADD  CONSTRAINT [FK_THU_KHACHHANG1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THU] CHECK CONSTRAINT [FK_THU_KHACHHANG1]
GO
/****** Object:  ForeignKey [FK_THEODOITHU_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[THEODOITHU]  WITH CHECK ADD  CONSTRAINT [FK_THEODOITHU_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[THEODOITHU] CHECK CONSTRAINT [FK_THEODOITHU_THU]
GO
/****** Object:  ForeignKey [FK_LICHSUKHAM_NHANVIEN]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[LICHSUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUKHAM_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LICHSUKHAM] CHECK CONSTRAINT [FK_LICHSUKHAM_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_LICHSUKHAM_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[LICHSUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUKHAM_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[LICHSUKHAM] CHECK CONSTRAINT [FK_LICHSUKHAM_THU]
GO
/****** Object:  ForeignKey [FK_LICHKHAM_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[LICHKHAM]  WITH CHECK ADD  CONSTRAINT [FK_LICHKHAM_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[LICHKHAM] CHECK CONSTRAINT [FK_LICHKHAM_THU]
GO
/****** Object:  ForeignKey [FK_EKIP_NHANVIEN]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[EKIP]  WITH CHECK ADD  CONSTRAINT [FK_EKIP_NHANVIEN] FOREIGN KEY([MABSCHINH])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[EKIP] CHECK CONSTRAINT [FK_EKIP_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_CHITIETTOA_TOATHUOC]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[CHITIETTOA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOA_TOATHUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[TOATHUOC] ([MATOA])
GO
ALTER TABLE [dbo].[CHITIETTOA] CHECK CONSTRAINT [FK_CHITIETTOA_TOATHUOC]
GO
/****** Object:  ForeignKey [FK_CHITIETTOA_THUOC]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[CHITIETTOA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOA_THUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETTOA] CHECK CONSTRAINT [FK_CHITIETTOA_THUOC]
GO
/****** Object:  ForeignKey [FK_NOITRU_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[NOITRU]  WITH CHECK ADD  CONSTRAINT [FK_NOITRU_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[NOITRU] CHECK CONSTRAINT [FK_NOITRU_THU]
GO
/****** Object:  ForeignKey [FK_BENHAN_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_THU]
GO
/****** Object:  ForeignKey [FK_TIEMPHONG_THUOC]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[TIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_TIEMPHONG_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[TIEMPHONG] CHECK CONSTRAINT [FK_TIEMPHONG_THUOC]
GO
/****** Object:  ForeignKey [FK_SOTIEMPHONG_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[SOTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_SOTIEMPHONG_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[SOTIEMPHONG] CHECK CONSTRAINT [FK_SOTIEMPHONG_THU]
GO
/****** Object:  ForeignKey [FK_PHIEUXETNGHIEM_THU]    Script Date: 04/27/2018 09:03:33 ******/
ALTER TABLE [dbo].[PHIEUXETNGHIEM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXETNGHIEM_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[PHIEUXETNGHIEM] CHECK CONSTRAINT [FK_PHIEUXETNGHIEM_THU]
GO
/****** Object:  ForeignKey [FK_PHAUTHUAT_EKIP]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[PHAUTHUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHAUTHUAT_EKIP] FOREIGN KEY([MAEKIP])
REFERENCES [dbo].[EKIP] ([MAEKIP])
GO
ALTER TABLE [dbo].[PHAUTHUAT] CHECK CONSTRAINT [FK_PHAUTHUAT_EKIP]
GO
/****** Object:  ForeignKey [FK_PHAUTHUAT_THU]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[PHAUTHUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHAUTHUAT_THU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[PHAUTHUAT] CHECK CONSTRAINT [FK_PHAUTHUAT_THU]
GO
/****** Object:  ForeignKey [FK_CHITIETXN_LOAIXETNGHIEM]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CHITIETXN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETXN_LOAIXETNGHIEM] FOREIGN KEY([MAXN])
REFERENCES [dbo].[LOAIXETNGHIEM] ([MAXN])
GO
ALTER TABLE [dbo].[CHITIETXN] CHECK CONSTRAINT [FK_CHITIETXN_LOAIXETNGHIEM]
GO
/****** Object:  ForeignKey [FK_CHITIETXN_PHIEUXETNGHIEM]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CHITIETXN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETXN_PHIEUXETNGHIEM] FOREIGN KEY([MAPHIEUXN])
REFERENCES [dbo].[PHIEUXETNGHIEM] ([MAPHIEUXN])
GO
ALTER TABLE [dbo].[CHITIETXN] CHECK CONSTRAINT [FK_CHITIETXN_PHIEUXETNGHIEM]
GO
/****** Object:  ForeignKey [FK_CHITIETBENH_BENHAN]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CHITIETBENH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBENH_BENHAN] FOREIGN KEY([MABENHAN])
REFERENCES [dbo].[BENHAN] ([MABENHAN])
GO
ALTER TABLE [dbo].[CHITIETBENH] CHECK CONSTRAINT [FK_CHITIETBENH_BENHAN]
GO
/****** Object:  ForeignKey [FK_CHITIETBENH_TOATHUOC]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CHITIETBENH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBENH_TOATHUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[TOATHUOC] ([MATOA])
GO
ALTER TABLE [dbo].[CHITIETBENH] CHECK CONSTRAINT [FK_CHITIETBENH_TOATHUOC]
GO
/****** Object:  ForeignKey [FK_CTSOTIEMPHONG_SOTIEMPHONG]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CTSOTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTSOTIEMPHONG_SOTIEMPHONG] FOREIGN KEY([MASO])
REFERENCES [dbo].[SOTIEMPHONG] ([MASO])
GO
ALTER TABLE [dbo].[CTSOTIEMPHONG] CHECK CONSTRAINT [FK_CTSOTIEMPHONG_SOTIEMPHONG]
GO
/****** Object:  ForeignKey [FK_CTSOTIEMPHONG_TIEMPHONG]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CTSOTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTSOTIEMPHONG_TIEMPHONG] FOREIGN KEY([MATIEMPHONG])
REFERENCES [dbo].[TIEMPHONG] ([MATIEMPHONG])
GO
ALTER TABLE [dbo].[CTSOTIEMPHONG] CHECK CONSTRAINT [FK_CTSOTIEMPHONG_TIEMPHONG]
GO
/****** Object:  ForeignKey [FK_CTEKIP_EKIP]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CTEKIP]  WITH CHECK ADD  CONSTRAINT [FK_CTEKIP_EKIP] FOREIGN KEY([MAEKIP])
REFERENCES [dbo].[EKIP] ([MAEKIP])
GO
ALTER TABLE [dbo].[CTEKIP] CHECK CONSTRAINT [FK_CTEKIP_EKIP]
GO
/****** Object:  ForeignKey [FK_CTEKIP_NHANVIEN]    Script Date: 04/27/2018 09:03:34 ******/
ALTER TABLE [dbo].[CTEKIP]  WITH CHECK ADD  CONSTRAINT [FK_CTEKIP_NHANVIEN] FOREIGN KEY([MABS])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CTEKIP] CHECK CONSTRAINT [FK_CTEKIP_NHANVIEN]
GO
