USE [master]
GO
/****** Object:  Database [QuanLyPhongKham]    Script Date: 05/13/2018 17:35:47 ******/
CREATE DATABASE [QuanLyPhongKham] ON  PRIMARY 
( NAME = N'QuanLyPhongKham', FILENAME = N'D:\IT-study\nam 3\project-phong-kham-thu-y\QuanLyPhongKham.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongKham_log', FILENAME = N'D:\IT-study\nam 3\project-phong-kham-thu-y\QuanLyPhongKham_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongKham]
GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MATOATHUOC] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANSUDUNG] [int] NULL,
	[NGAYKETOA] [date] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
 CONSTRAINT [PK_dbo.TOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MATOATHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACSI]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSI](
	[MABACSI] [int] IDENTITY(1,1) NOT NULL,
	[TENBACSI] [nvarchar](50) NOT NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nvarchar](20) NOT NULL,
	[CHUYENMON] [int] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MABACSI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CHUYENMON] ON [dbo].[BACSI] 
(
	[CHUYENMON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITHUOC]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITHUOC](
	[MADONVI] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.DONVITHUOC] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nchar](30) NOT NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
 CONSTRAINT [PK_dbo.KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAKHAMBENH]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAKHAMBENH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GIA] [decimal](18, 0) NULL,
	[NGAYAPDUNG] [date] NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [PK_dbo.GIAKHAMBENH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_dbo.NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIXETNGHIEM]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXETNGHIEM](
	[MAXN] [int] IDENTITY(1,1) NOT NULL,
	[TENXETNGHIEM] [nvarchar](50) NOT NULL,
	[THOIGIAN] [time](7) NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_dbo.LOAIXETNGHIEM] PRIMARY KEY CLUSTERED 
(
	[MAXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 05/13/2018 17:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITHUOC] [nvarchar](50) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_LOAITHUOC] PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACCOUNT_LOGIN]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACCOUNT_LOGIN]
@UserName nvarchar(50),
@Pass nvarchar(50)
AS 
BEGIN
	DECLARE @COUNT INT
	DECLARE @RES bit
	
	SELECT @COUNT= COUNT(*) FROM ACCOUNT WHERE USERNAME=@UserName AND PASSWORD=@Pass
	
	IF(@COUNT >0)
		SET @RES =1
	ELSE
		SET @RES=0
		
		RETURN @RES
	
	
END
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUOC] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[HANSUDUNG] [date] NULL,
	[DONGIA] [float] NOT NULL,
	[HUONGDANSUDUNG] [nvarchar](500) NOT NULL,
	[MADONVI] [int] NULL,
	[TINHTRANG] [bit] NOT NULL,
	[MALOAITHUOC] [int] NULL,
 CONSTRAINT [PK_dbo.THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MADONVI] ON [dbo].[THUOC] 
(
	[MADONVI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THU]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THU](
	[MATHU] [int] IDENTITY(1,1) NOT NULL,
	[TENTHU] [nvarchar](30) NOT NULL,
	[TUOI] [int] NOT NULL,
	[GIOITINH] [nchar](10) NOT NULL,
	[MAULONG] [nvarchar](30) NOT NULL,
	[LOAI] [nvarchar](30) NOT NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK_dbo.THU] PRIMARY KEY CLUSTERED 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MAKH] ON [dbo].[THU] 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKIP]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKIP](
	[MAEKIP] [int] IDENTITY(1,1) NOT NULL,
	[MABSCHINH] [int] NULL,
	[SOLUONGTV] [int] NULL,
 CONSTRAINT [PK_dbo.EKIP] PRIMARY KEY CLUSTERED 
(
	[MAEKIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MABSCHINH] ON [dbo].[EKIP] 
(
	[MABSCHINH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEMPHONG]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEMPHONG](
	[MATIEMPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITIEM] [nvarchar](50) NULL,
	[MATHUOC] [int] NULL,
	[DONGIA] [money] NULL,
	[GHICHU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.TIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MATIEMPHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHUOC] ON [dbo].[TIEMPHONG] 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHKHAM]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHKHAM](
	[MALICH] [int] NOT NULL,
	[MATHU] [int] NULL,
	[NGAYHEN] [date] NULL,
	[GIOHEN] [time](7) NULL,
	[DIADIEM] [nchar](10) NOT NULL,
	[DAPASS] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.LICHKHAM] PRIMARY KEY CLUSTERED 
(
	[MALICH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHU] ON [dbo].[LICHKHAM] 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKIP_CHITIET]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKIP_CHITIET](
	[MAEKIP] [int] NULL,
	[MABS] [int] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MABS] ON [dbo].[EKIP_CHITIET] 
(
	[MABS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MAEKIP] ON [dbo].[EKIP_CHITIET] 
(
	[MAEKIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTOATHUOC]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTOATHUOC](
	[MATOA] [int] NOT NULL,
	[MATHUOC] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIATIEN] [float] NOT NULL,
	[GHICHU] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHAN]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHAN](
	[MABENHAN] [int] IDENTITY(1,1) NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYKHAM] [date] NOT NULL,
	[BENH] [nvarchar](100) NOT NULL,
	[TRIEUCHUNG] [nvarchar](max) NOT NULL,
	[MATOA] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BENHAN] PRIMARY KEY CLUSTERED 
(
	[MABENHAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHU] ON [dbo].[BENHAN] 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTIEMPHONG]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTIEMPHONG](
	[MASOTIEMPHONG] [int] IDENTITY(1,1) NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYCAP] [date] NOT NULL,
 CONSTRAINT [PK_dbo.SOTIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MASOTIEMPHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHU] ON [dbo].[SOTIEMPHONG] 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXETNGHIEM]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXETNGHIEM](
	[MAPHIEUXN] [int] IDENTITY(1,1) NOT NULL,
	[MATHU] [int] NOT NULL,
	[NGAYXN] [date] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_dbo.PHIEUXETNGHIEM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHU] ON [dbo].[PHIEUXETNGHIEM] 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAUTHUAT]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAUTHUAT](
	[MAPHAUTHUAT] [int] IDENTITY(1,1) NOT NULL,
	[MATHU] [int] NOT NULL,
	[MAGIAYCK] [int] NOT NULL,
	[MAXN] [int] NOT NULL,
	[MAEKIP] [int] NOT NULL,
	[NGAYPHAUTHUAT] [date] NOT NULL,
	[THOIGIANBATDAU] [time](7) NOT NULL,
	[THOIGIANKT] [time](7) NOT NULL,
 CONSTRAINT [PK_dbo.PHAUTHUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHAUTHUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MAEKIP] ON [dbo].[PHAUTHUAT] 
(
	[MAEKIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATHU] ON [dbo].[PHAUTHUAT] 
(
	[MATHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTIEMPHONG_CHITIET]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTIEMPHONG_CHITIET](
	[MASO] [int] NOT NULL,
	[MATIEMPHONG] [int] NOT NULL,
	[NGAYTIEM] [date] NOT NULL,
	[NGAYHEN] [date] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MASO] ON [dbo].[SOTIEMPHONG_CHITIET] 
(
	[MASO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MATIEMPHONG] ON [dbo].[SOTIEMPHONG_CHITIET] 
(
	[MATIEMPHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETXN]    Script Date: 05/13/2018 17:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXN](
	[MAPHIEUXN] [int] NOT NULL,
	[MAXN] [int] NOT NULL,
	[KETQUA] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MAPHIEUXN] ON [dbo].[CHITIETXN] 
(
	[MAPHIEUXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MAXN] ON [dbo].[CHITIETXN] 
(
	[MAXN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.THUOC_dbo.DONVITHUOC_MADONVI]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_dbo.THUOC_dbo.DONVITHUOC_MADONVI] FOREIGN KEY([MADONVI])
REFERENCES [dbo].[DONVITHUOC] ([MADONVI])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_dbo.THUOC_dbo.DONVITHUOC_MADONVI]
GO
/****** Object:  ForeignKey [FK_THUOC_LOAITHUOC1]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_LOAITHUOC1] FOREIGN KEY([MALOAITHUOC])
REFERENCES [dbo].[LOAITHUOC] ([MALOAITHUOC])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_LOAITHUOC1]
GO
/****** Object:  ForeignKey [FK_dbo.THU_dbo.KHACHHANG_MAKH]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[THU]  WITH CHECK ADD  CONSTRAINT [FK_dbo.THU_dbo.KHACHHANG_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THU] CHECK CONSTRAINT [FK_dbo.THU_dbo.KHACHHANG_MAKH]
GO
/****** Object:  ForeignKey [FK_dbo.EKIP_dbo.NHANVIEN_MABSCHINH]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[EKIP]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EKIP_dbo.NHANVIEN_MABSCHINH] FOREIGN KEY([MABSCHINH])
REFERENCES [dbo].[BACSI] ([MABACSI])
GO
ALTER TABLE [dbo].[EKIP] CHECK CONSTRAINT [FK_dbo.EKIP_dbo.NHANVIEN_MABSCHINH]
GO
/****** Object:  ForeignKey [FK_dbo.TIEMPHONG_dbo.THUOC_MATHUOC]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[TIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TIEMPHONG_dbo.THUOC_MATHUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[TIEMPHONG] CHECK CONSTRAINT [FK_dbo.TIEMPHONG_dbo.THUOC_MATHUOC]
GO
/****** Object:  ForeignKey [FK_dbo.LICHKHAM_dbo.THU_MATHU]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[LICHKHAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LICHKHAM_dbo.THU_MATHU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[LICHKHAM] CHECK CONSTRAINT [FK_dbo.LICHKHAM_dbo.THU_MATHU]
GO
/****** Object:  ForeignKey [FK_dbo.CTEKIP_dbo.EKIP_MAEKIP]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[EKIP_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CTEKIP_dbo.EKIP_MAEKIP] FOREIGN KEY([MAEKIP])
REFERENCES [dbo].[EKIP] ([MAEKIP])
GO
ALTER TABLE [dbo].[EKIP_CHITIET] CHECK CONSTRAINT [FK_dbo.CTEKIP_dbo.EKIP_MAEKIP]
GO
/****** Object:  ForeignKey [FK_dbo.CTEKIP_dbo.NHANVIEN_MABS]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[EKIP_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CTEKIP_dbo.NHANVIEN_MABS] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSI] ([MABACSI])
GO
ALTER TABLE [dbo].[EKIP_CHITIET] CHECK CONSTRAINT [FK_dbo.CTEKIP_dbo.NHANVIEN_MABS]
GO
/****** Object:  ForeignKey [FK_CTTOATHUOC_TOATHUOC]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[CTTOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CTTOATHUOC_TOATHUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[TOATHUOC] ([MATOATHUOC])
GO
ALTER TABLE [dbo].[CTTOATHUOC] CHECK CONSTRAINT [FK_CTTOATHUOC_TOATHUOC]
GO
/****** Object:  ForeignKey [FK_CTTOATHUOC_THUOC]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[CTTOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CTTOATHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CTTOATHUOC] CHECK CONSTRAINT [FK_CTTOATHUOC_THUOC]
GO
/****** Object:  ForeignKey [FK_BENHAN_TOATHUOC]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_TOATHUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[TOATHUOC] ([MATOATHUOC])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_TOATHUOC]
GO
/****** Object:  ForeignKey [FK_dbo.BENHAN_dbo.THU_MATHU]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BENHAN_dbo.THU_MATHU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_dbo.BENHAN_dbo.THU_MATHU]
GO
/****** Object:  ForeignKey [FK_dbo.SOTIEMPHONG_dbo.THU_MATHU]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[SOTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SOTIEMPHONG_dbo.THU_MATHU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[SOTIEMPHONG] CHECK CONSTRAINT [FK_dbo.SOTIEMPHONG_dbo.THU_MATHU]
GO
/****** Object:  ForeignKey [FK_dbo.PHIEUXETNGHIEM_dbo.THU_MATHU]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[PHIEUXETNGHIEM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PHIEUXETNGHIEM_dbo.THU_MATHU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[PHIEUXETNGHIEM] CHECK CONSTRAINT [FK_dbo.PHIEUXETNGHIEM_dbo.THU_MATHU]
GO
/****** Object:  ForeignKey [FK_dbo.PHAUTHUAT_dbo.EKIP_MAEKIP]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[PHAUTHUAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PHAUTHUAT_dbo.EKIP_MAEKIP] FOREIGN KEY([MAEKIP])
REFERENCES [dbo].[EKIP] ([MAEKIP])
GO
ALTER TABLE [dbo].[PHAUTHUAT] CHECK CONSTRAINT [FK_dbo.PHAUTHUAT_dbo.EKIP_MAEKIP]
GO
/****** Object:  ForeignKey [FK_dbo.PHAUTHUAT_dbo.THU_MATHU]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[PHAUTHUAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PHAUTHUAT_dbo.THU_MATHU] FOREIGN KEY([MATHU])
REFERENCES [dbo].[THU] ([MATHU])
GO
ALTER TABLE [dbo].[PHAUTHUAT] CHECK CONSTRAINT [FK_dbo.PHAUTHUAT_dbo.THU_MATHU]
GO
/****** Object:  ForeignKey [FK_dbo.CTSOTIEMPHONG_dbo.SOTIEMPHONG_MASO]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[SOTIEMPHONG_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CTSOTIEMPHONG_dbo.SOTIEMPHONG_MASO] FOREIGN KEY([MASO])
REFERENCES [dbo].[SOTIEMPHONG] ([MASOTIEMPHONG])
GO
ALTER TABLE [dbo].[SOTIEMPHONG_CHITIET] CHECK CONSTRAINT [FK_dbo.CTSOTIEMPHONG_dbo.SOTIEMPHONG_MASO]
GO
/****** Object:  ForeignKey [FK_dbo.CTSOTIEMPHONG_dbo.TIEMPHONG_MATIEMPHONG]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[SOTIEMPHONG_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CTSOTIEMPHONG_dbo.TIEMPHONG_MATIEMPHONG] FOREIGN KEY([MATIEMPHONG])
REFERENCES [dbo].[TIEMPHONG] ([MATIEMPHONG])
GO
ALTER TABLE [dbo].[SOTIEMPHONG_CHITIET] CHECK CONSTRAINT [FK_dbo.CTSOTIEMPHONG_dbo.TIEMPHONG_MATIEMPHONG]
GO
/****** Object:  ForeignKey [FK_dbo.CHITIETXN_dbo.LOAIXETNGHIEM_MAXN]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[CHITIETXN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETXN_dbo.LOAIXETNGHIEM_MAXN] FOREIGN KEY([MAXN])
REFERENCES [dbo].[LOAIXETNGHIEM] ([MAXN])
GO
ALTER TABLE [dbo].[CHITIETXN] CHECK CONSTRAINT [FK_dbo.CHITIETXN_dbo.LOAIXETNGHIEM_MAXN]
GO
/****** Object:  ForeignKey [FK_dbo.CHITIETXN_dbo.PHIEUXETNGHIEM_MAPHIEUXN]    Script Date: 05/13/2018 17:36:01 ******/
ALTER TABLE [dbo].[CHITIETXN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETXN_dbo.PHIEUXETNGHIEM_MAPHIEUXN] FOREIGN KEY([MAPHIEUXN])
REFERENCES [dbo].[PHIEUXETNGHIEM] ([MAPHIEUXN])
GO
ALTER TABLE [dbo].[CHITIETXN] CHECK CONSTRAINT [FK_dbo.CHITIETXN_dbo.PHIEUXETNGHIEM_MAPHIEUXN]
GO
