@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">Lập bệnh án</h3>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Thú cưng</h3>
            </div>
            <div class="panel-body">
                <form>
                    <input type="hidden" name="CurrentPetId" value="" >
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="inputPassword4">Tên Pet</label>
                            <input type="text" class="form-control" name="CurrentPetName" placeholder="Tên pet" readonly>
                        </div>
                        <div class="col-md-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" style="margin-top:26px;" data-toggle="modal" data-target="#PickPet">
                                <i class="lnr lnr-select modifier-icon"></i>  Chọn
                            </button>
                        </div>
                        <div class="col-md-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" style="margin-top:26px;" data-toggle="modal" data-target="#exampleModal">
                                <i class="lnr lnr-plus-circle modifier-icon"></i>Thêm
                            </button>
                        </div>
                        <div class="modal fade" id="PickPet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Chọn thú cưng</h3>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">

                                            <div class="form-row row">
                                                <div class="form-group col-md-5">
                                                    <label for="inputPassword4">Tên Pet</label>
                                                    <input type="text" class="form-control" name="SearchPetName" placeholder="Tên pet" value="ki ki">
                                                    <span class="text-danger" id="namePetErrorMessage">Bạn chưa nhập tên pet</span>
                                                </div>
                                                <div class="form-group col-md-5">
                                                    <label for="inputPassword4">Loài</label>
                                                    <input type="text" class="form-control" name="SearchPetKind" placeholder="Giong loài pet" value="chó fox">
                                                    <span class="text-danger" id="kindPetErrorMessage">Bạn chưa nhập loài pet</span>
                                                </div>

                                                <button style="margin-top:1.75em" type="button" id="btn-search-pet" class="btn btn-primary">Tìm</button>

                                            </div>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Tên pet</th>
                                                        <th>Tên chủ</th>
                                                        <th>Loài</th>
                                                        <th>Màu lông</th>
                                                        <th>Gioi tính</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="SearchPetTable"></tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="button" id="btn-select-pet" class="btn btn-primary">Chọn</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Thêm thú cưng mới</h3>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Thông tin thú cưng</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-row row">

                                                        <div class="form-group col-md-12">
                                                            <label for="inputPassword4">Tên Pet</label>
                                                            <input type="text" class="form-control" value="Ki Ki" name="PetName">
                                                            <span class="text-danger" id="namePetAddingErrorMessage">Bạn chưa nhập tên pet</span>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="inputEmail4">Màu lông</label>
                                                            <input type="email" class="form-control" value="Vàng nâu" name="PetSkin">
                                                            <span class="text-danger" id="skinPetAddingErrorMessage">Bạn chưa nhập màu lông pet</span>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label for="inputPassword4">Loài</label>
                                                            <input type="text" class="form-control" value="Chó Fox" name="PetKind">
                                                            <span class="text-danger" id="kindPetAddingErrorMessage">Bạn chưa nhập loài pet</span>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="inputEmail4">Giới tính</label>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="PetGender" id="Male" value="Đực" checked>
                                                                <label class="form-check-label" for="inlineRadio1">Đực</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="PetGender" id="Female" value="Cái">
                                                                <label class="form-check-label" for="inlineRadio2">Cái</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Thông tin chủ</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-row row">

                                                        <div class="form-group col-md-12">
                                                            <label for="inputPassword4">Tên chủ</label>
                                                            <input type="text" class="form-control" value="Anh Vũ" name="CustomerName">
                                                            <span class="text-danger" id="nameCustomerAddingErrorMessage">Bạn chưa nhập tên chủ</span>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="inputPassword4">Số điện thoại</label>
                                                            <input type="text" class="form-control" value="0961013695" name="CustomerPhone">
                                                            <span class="text-danger" id="phoneCustomerAddingErrorMessage">Bạn chưa nhập số điện thoại của chủ</span>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label for="inputEmail4">Địa chỉ</label>
                                                            <input type="email" class="form-control" value="SGU" name="CustomerAddress">
                                                            <span class="text-danger" id="addressCustomerAddingErrorMessage">Bạn chưa nhập địa chỉ chủ</span>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label for="inputEmail4">Giới tính</label>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="CustomerGender" id="Male" value="Nam" checked>
                                                                <label class="form-check-label" for="inlineRadio1">Nam</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="CustomerGender" id="Female" value="Nữ">
                                                                <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="button" id="btn-add-customer" class="btn btn-primary">Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail4">Màu lông</label>
                        <input type="email" class="form-control" name="CurrentPetSkin" placeholder="Màu lông pet" readonly>
                    </div>

                    <div class="form-group ">
                        <label for="inputPassword4">Loài</label>
                        <input type="text" class="form-control" name="CurrentPetKind" placeholder="Giong loài pet" readonly>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Giới tính</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CurrentPetGender" id="Male" value="Đực">
                            <label class="form-check-label" for="inlineRadio1">Đực</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CurrentPetGender" id="Female" value="Cái">
                            <label class="form-check-label" for="inlineRadio2">Cái</label>
                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Chủ pet</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Tên chủ</label>
                        <input type="text" class="form-control" name="CurrentCustomerName" placeholder="Tên chủ" readonly>
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Địa chỉ</label>
                        <input type="text" class="form-control" name="CurrentCustomerAddress" placeholder="Địa chỉ chủ" readonly>
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        <input type="text" class="form-control" name="CurrentCustomerPhone" placeholder="Số điện thoại chủ" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Giới tính</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CurrentCustomerGender" id="Male" value="Nam">
                            <label class="form-check-label" for="inlineRadio1">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CurrentCustomerGender" id="Female" value="Nữ">
                            <label class="form-check-label" for="inlineRadio2">Nữ</label>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Chẩn đoán</h3>
            </div>
            <div class="panel-body">
                <div class="form-group ">
                    <label for="exampleInputEmail1">Triệu chứng</label>
                    <textarea class="form-control" id="Result" name="Result" rows="3"></textarea>
                </div>
                <div class="form-group ">
                    <label for="exampleInputEmail1">Chẩn đoán bệnh</label>
                    <textarea class="form-control" id="ResultSick" name="ResultSick" rows="3"></textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Toa thuốc</h3>
            </div>
            <div class="panel-body">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMedical">
                    <i class="lnr lnr-plus-circle modifier-icon"></i> Thêm thuốc
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addMedical" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Thêm thuốc</h3>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <input type="hidden" value="" name="MedicalId" id="MedicalId" />
                                    <div class="form-group ">
                                        <label for="LoaiThuoc">Loại thuốc</label>
                                        <select class="form-control" id="CategoryMedical">
                                            <option>--Chọn loại thuốc--</option>
                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <label for="TenThuoc">Tên thuốc</label>
                                        <select class="form-control" id="MedicalName">
                                            <option>--Chọn thuốc--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <input type="email" class="form-control" value="uống sau khi ăn" name="MedicalNote">
                                    </div>

                                    <div class="form-row row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Số lượng</label>
                                            <input type="email" class="form-control" value="100" name="MedicalQuantity">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Đơn vị</label>
                                            <input type="email" class="form-control" value="Vỉ" name="MedicalUnit" readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Gía tiền</label>
                                            <input type="text" class="form-control" value="10000" name="MedicalPrice" readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Hướng dẫn</label>
                                            <input type="text" class="form-control" value="uống nước nguội" name="MedicalInstruction" readonly>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" id="btn-add-medical" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên thuốc</th>
                        <th>Loại thuốc</th>
                        <th>Đơn vị</th>
                        <th>Số lượng</th>
                        <th>Gía tiền(VNĐ)</th>
                        <th>Hướng dẫn</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="AddingMedicalToPrescription"></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 pull-right">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Tổng tiền</h3>
            </div>
            <div class="panel-body">

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Tổng tiền toa thuốc</label>
                    <div class="col-sm-8">
                        <input type="hidden" readonly class="form-control" name="HiddenMedicalTotalPrice">
                        <input type="text" readonly class="form-control" name="MedicalTotalPrice">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Tiền khám</label>
                    <div class="col-sm-8">
                        <input type="hidden" readonly class="form-control" name="HiddenExaminePrice" value="200000">
                        <input type="text" readonly class="form-control" name="ExaminePrice" value="200.000">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Tổng cộng</label>
                    <div class="col-sm-8">
                        <input type="hidden" readonly class="form-control" name="HiddenTotalPrice">
                        <input type="text" readonly class="form-control" name="TotalPrice">
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default"><i class="lnr lnr-cross-circle modifier-icon"></i>Đóng</button>
                    <button type="button" id="btn-save-print-medical-record" class="btn btn-primary"><i class="lnr lnr-printer modifier-icon"></i>Lưu và In bệnh án</button>
                    <button type="button" id="btn-save-medical-record" class="btn btn-success"><i class="lnr lnr-file-empty modifier-icon"></i>Lưu bệnh án</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section ClientSciptFile
{
    <script src="~/assets/scripts/notify.js"></script>
    <script src="~/assets/scripts/klorofil-common.js"></script>

}
